<div style="position:absolute; left:50%; top:50%; margin-left:-150px; margin-top:-150px;">
<img src=http://cfile3.uf.tistory.com/image/2057F84250AC8698080AB5 width="300" height="300">
<a href="/articles/index"><center>TO DO LIST</center></a>
</div>
<style>
 body {background-color: #ECCEF5; font-size:40pt; font-family: 'Cutive Mono', monospace;}
</style>

<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Gamja+Flower" rel="stylesheet">